<section class="container centered">
  <div class="about">
    {{ partialCached "home/avatar.html" . }}

    {{ partialCached "home/author.html" . }}

    {{ partialCached "home/social.html" . }}
  </div>
  {{ partialCached "home/extensions.html" . }}
  <div>
    <h1>
      <a href="/posts/monthly-reminders/index.html">Monthly Reminders</a>
    </h1>
    <h1>
      <a href="/posts/once-offs/index.html">Once-offs</a>
    </h1>
    <h1>
      <a href="/posts/2023-2024-changes/index.html">2023/2024 Changes</a>
    </h1>
  </div>
</section>
